@font-face {
    font-family: "iconfont"; /* Project id 4665531 */
    src: url('//at.alicdn.com/t/c/font_4665531_euml4cto9yd.woff2?t=1724727524480') format('woff2'),
    url('//at.alicdn.com/t/c/font_4665531_euml4cto9yd.woff?t=1724727524480') format('woff'),
    url('//at.alicdn.com/t/c/font_4665531_euml4cto9yd.ttf?t=1724727524480') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yonghuxinxi:before {
    content: "\e680";
}

.icon-xitongxinxi:before {
    content: "\e835";
}

.icon-xitongshezhi:before {
    content: "\e66a";
}

.icon-yonghuliebiao:before {
    content: "\e613";
}

.icon-yonghuguanli:before {
    content: "\e662";
}
